<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">

    <link href="assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

    <link href="assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>

<body>



        <div class="page-container">
            <div class="main-content">
                <div class="container-fluid">
                </div>
                <div class="wrapper-page">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5 col-md-12 col-xs-12">
                                <div class="card">
                                    <div class="card-header border-bottom text-center">
                                        <h4 class="card-title">修改密码</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form-horizontal m-t-20" action="/changePassword" method="POST"
                                              target="form">

                                            <div class="form-group">
                                                <input class="form-control" type="number" name="userPhone" required=""
                                                       placeholder="验证手机号" onblur="isPh(this.value) "
                                                       style="font-size: 13px">
                                                <div style="display:none;" id="ph1">
                                                    <p style="color:red">手机号为空或者格式不正确！</p>
                                                </div>
                                                <div style="display:none;" id="ph2">
                                                    <p style="color:red">手机号与本人不匹配！</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input class="form-control" name="Password" type="password" required=""
                                                       placeholder="新密码" onblur="isPw1(this.value) "
                                                       style="font-size: 13px">
                                                <div style="display:none;" id="pwd1">
                                                    <p style="color:red">密码为空！</p>
                                                </div>
                                                <div style="display:none;" id="pwd2">
                                                    <p style="color:red">密码长度为6-18位！</p>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input class="form-control" type="password" required=""
                                                       placeholder="确认新密码" onblur="isPw2(this.value) "
                                                       style="font-size: 13px">
                                                <div style="display:none;" id="pws1">
                                                    <p style="color:red">密码不相同 ！</p>
                                                </div>
                                                <div style="display:none;" id="pws2">
                                                    <p style="color:red">确认密码为空 ！</p>
                                                </div>
                                            </div>
                                            <div class="form-group text-center m-t-20">
                                                <button class="btn btn-common btn-block" type="submit" onclick="changePassword()" id="xg">修改</button>
                                                <iframe name="form" id="form" style="display: none"><p>修改成功</p></iframe>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>




<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>


<script src="assets/js/jquery-min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.app.js"></script>
<script src="assets/js/main.js"></script>

<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#xg').click();
        $('#form').load(function () {
            var text = $(this).contents().find("body").text();
            var j = $.parseJSON(text);
            if (JSON.stringify(j.code) == 0) {
                alert(JSON.stringify(j.msg));
                window.location.href="index.html";
            } else if (JSON.stringify(j.code) == 1) {
                alert(JSON.stringify(j.msg));
            }
        });
    })

    // 验证手机号
    function isPh(phones) {
        var RegCellPhone = /^(1)([0-9]{10})?$/;
        var falg = phones.search(RegCellPhone);
        if (falg == -1) {
            document.getElementById("ph1").style.display = "";
        } else {
            document.getElementById("ph1").style.display = "none";
        }

        $.ajax({
            url: '/isPhone',
            type: 'get',
            data: {
                'phones': phones
            },
            success: function (success) {
                if (success == 1) {
                    document.getElementById("ph2").style.display = "";
                } else if (success == 3) {
                    document.getElementById("ph1").style.display = "";
                } else if (success == 4) {
                    alert("非法操作！")
                } else if (success == 2) {
                    document.getElementById("ph2").style.display = "none";
                }else if (success == 5) {
                    alert("登录失效！")
                }
            }
        })
    }

    // 验证密码
    var password1 = null;

    function isPw1(params) {
        password1 = params;
        if (params == '') {
            document.getElementById("pwd1").style.display = "";
            document.getElementById("pwd2").style.display = "none";
        } else if (params.length < 6 || params.length > 18) {
            document.getElementById("pwd1").style.display = "none";
            document.getElementById("pwd2").style.display = "";
        } else {
            document.getElementById("pwd1").style.display = "none";
            document.getElementById("pwd2").style.display = "none";
        }
    }

    // 验证确认密码
    function isPw2(params) {
        if (params == '') {
            document.getElementById("pws2").style.display = "";
            document.getElementById("pws1").style.display = "none";
        } else if (params != password1) {
            document.getElementById("pws2").style.display = "none";
            document.getElementById("pws1").style.display = "";
        } else {
            document.getElementById("pws1").style.display = "none";
            document.getElementById("pws1").style.display = "none";
        }
    }


    function changePassword() {
        if (document.getElementById("ph1").style.display == "") {
            alert('手机号为空或者格式不正确！');
        } else if (document.getElementById("pwd1").style.display == "") {
            alert('新密码为空！');
        } else if (document.getElementById("pwd2").style.display == "") {
            alert('新密码长度为6-18位！');
        } else if (document.getElementById("pws1").style.display == "") {
            alert('密码不相同 ！');
        } else if (document.getElementById("pws2").style.display == "") {
            alert('确认新密码为空 ！');
        }
    }
</script>
</body>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

</html>