<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">

    <link rel="stylesheet" href="assets/plugins/morris/morris.css">

    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>

<body>
<div class="app header-default side-nav-dark" id="aaa">
    <div class="layout">

        <div class="header navbar">
            <div class="header-container">
                <div class="nav-logo">
                    <a href="index.html">
                        <b><img src="assets/img/logo.png" alt=""></b>
                        <span class="logo">
                                <img src="assets/img/logo-text.png" alt="">
                            </span>
                    </a>
                </div>
                <ul class="nav-left">
                    <li>
                        <a class="sidenav-fold-toggler" href="javascript:void(0);">
                            <i class="lni-menu"></i>
                        </a>
                        <a class="sidenav-expand-toggler" href="javascript:void(0);">
                            <i class="lni-menu"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">
                    <li class="search-box">
                        <input class="form-control" type="text" placeholder="Type to search...">
                        <i class="lni-search"></i>
                    </li>
                    <li class="massages dropdown dropdown-animated scale-left">
                        <span class="counter">3</span>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="lni-envelope"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-lg">
                            <li>
                                <div class="dropdown-item align-self-center">
                                    <h5><span class="badge badge-primary float-right">745</span>Messages</h5>
                                </div>
                            </li>
                            <li>
                                <ul class="list-media">
                                    <li class="list-item">
                                        <a href="#" class="media-hover">
                                            <div class="media-img">
                                                <img src="assets/img/users/avatar-1.jpg" alt="">
                                            </div>
                                            <div class="info">
                                                    <span class="title">
                                                        Amanda Robertson
                                                    </span>
                                                <span class="sub-title">Dummy text of the printing and typesetting
                                                        industry.</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-item">
                                        <a href="#" class="media-hover">
                                            <div class="media-img">
                                                <img src="assets/img/users/avatar-2.jpg" alt="">
                                            </div>
                                            <div class="info">
                                                    <span class="title">
                                                        Danny Donovan
                                                    </span>
                                                <span class="sub-title">It is a long established fact that a reader
                                                        will</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-item">
                                        <a href="#" class="media-hover">
                                            <div class="media-img">
                                                <img src="assets/img/users/avatar-3.jpg" alt="">
                                            </div>
                                            <div class="info">
                                                    <span class="title">
                                                        Frank Handrics
                                                    </span>
                                                <span class="sub-title">You have 87 unread messages</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="check-all text-center">
                                    <span>
                                        <a href="#" class="text-gray">View All</a>
                                    </span>
                            </li>
                        </ul>
                    </li>
                    <li class="notifications dropdown dropdown-animated scale-left">
                        <span class="counter">2</span>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="lni-alarm"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-lg">
                            <li>
                                <h5 class="n-title text-center">
                                    <i class="lni-alarm"></i>
                                    <span>Notifications</span>
                                </h5>
                            </li>
                            <li>
                                <ul class="list-media">
                                    <li class="list-item">
                                        <a href="#" class="media-hover">
                                            <div class="media-img">
                                                <div class="icon-avatar bg-primary">
                                                    <i class="lni-envelope"></i>
                                                </div>
                                            </div>
                                            <div class="info">
                                                    <span class="title">
                                                        5 new messages
                                                    </span>
                                                <span class="sub-title">4 min ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-item">
                                        <a href="#" class="media-hover">
                                            <div class="media-img">
                                                <div class="icon-avatar bg-success">
                                                    <i class="lni-comments-alt"></i>
                                                </div>
                                            </div>
                                            <div class="info">
                                                    <span class="title">
                                                        4 new comments
                                                    </span>
                                                <span class="sub-title">12 min ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-item">
                                        <a href="#" class="media-hover">
                                            <div class="media-img">
                                                <div class="icon-avatar bg-info">
                                                    <i class="lni-users"></i>
                                                </div>
                                            </div>
                                            <div class="info">
                                                    <span class="title">
                                                        3 Friend Requests
                                                    </span>
                                                <span class="sub-title">a day ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="list-item">
                                        <a href="#" class="media-hover">
                                            <div class="media-img">
                                                <div class="icon-avatar bg-purple">
                                                    <i class="lni-comments-alt"></i>
                                                </div>
                                            </div>
                                            <div class="info">
                                                    <span class="title">
                                                        2 new messages
                                                    </span>
                                                <span class="sub-title">12 min ago</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="check-all text-center">
                                    <span>
                                        <a href="#" class="text-gray">Check all notifications</a>
                                    </span>
                            </li>
                        </ul>
                    </li>
                    <li class="user-profile dropdown dropdown-animated scale-left">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img class="profile-img img-fluid" src="assets/img/avatar/avatar.jpg" alt="">
                        </a>
                        <ul class="dropdown-menu dropdown-md">
                            <li>
                                <ul class="list-media">
                                    <li class="list-item avatar-info">
                                        <div class="media-img">
                                            <img src="assets/img/avatar/avatar.jpg" alt="">
                                        </div>
                                        <div class="info">
                                            <span class="title text-semibold">Tomas Murray</span>
                                            <span class="sub-title">UI/UX Desinger</span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a onclick="returnpage('user.html')" style="cursor:pointer;"> <span>我的信息</span></a>
                            </li>
                            <li>
                                <a onclick="returnpage('change.html')" style="cursor:pointer;"> <span>修改密码</span></a>
                            </li>
                            <li>
                                <a onclick="exit()"> <span>退出登录</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="side-nav expand-lg">
            <div class="side-nav-inner">
                <ul class="side-nav-menu">
                    <li class="side-nav-header">
                        <span>Navigation</span>
                    </li>
                    <li class="nav-item dropdown open">
                        <a href="#" class="dropdown-toggle">
                                <span class="icon-holder">
                                    <i class="lni-dashboard"></i>
                                </span>
                            <span class="title">首页</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li class="active">
                                <a href="index.html">公告</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-cloud"></i>
                                </span>
                            <span class="title">专家介绍</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('branch.html')" style="cursor:pointer;">专家列表</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-layers"></i>
                                </span>
                            <span class="title">预约挂号</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('DoctorAAA.html')" style="cursor:pointer;">挂号</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-package"></i>
                                </span>
                            <span class="title">支付订单</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('OrderList.html')" style="cursor:pointer;">立即支付</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-files"></i>
                                </span>
                            <span class="title">取消订单</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('quxiaoOrder_2.html')" style="cursor:pointer;">取消未支付订单</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                    <span class="icon-holder">
                                        <i class="lni-timer"></i>
                                    </span>
                            <span class="title">订单列表</span>
                            <span class="arrow">
                                        <i class="lni-chevron-right"></i>
                                    </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('OrderList.html')" style="cursor:pointer;">未支付订单</a>
                            </li>
                            <li>
                                <a onclick="returnpage('quxiaoOrder.html')" style="cursor:pointer;">取消已支付订单</a>
                            </li>
                            <li>
                                <a onclick="returnpage('djzOrder.html')" style="cursor:pointer;">待就诊订单</a>
                            </li>
                            <li>
                                <a onclick="returnpage('orderLoge.html')" style="cursor:pointer;">订单记录</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-control-panel"></i>
                                </span>
                            <span class="title">个人中心</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('user.html')" style="cursor:pointer;">我的信息</a>
                            </li>
                            <li>
                                <a onclick="returnpage('change.html')" style="cursor:pointer;">修改密码</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-pie-chart"></i>
                                </span>
                            <span class="title">系统管理</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('doctorList01.html')" style="cursor:pointer;">医生管理</a>
                            </li>
                            <li>
                                <a onclick="returnpage('userList01.html')" style="cursor:pointer;">用户管理</a>
                            </li>
                            <li>
                                <a onclick="returnpage('orderList01.html')" style="cursor:pointer;">订单管理</a>
                            </li>
                            <li>
                                <a onclick="returnpage('rechargeList01.html')" style="cursor:pointer;">充值管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


        <iframe id="getPage" src="demo.html" style="position: relative;overflow: hidden;" frameborder="0"
                scrolling="auto" marginheight="0" marginwidth="0" height="1000" width="100%"></iframe>


    </div>
</div>

<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>


<script src="assets/js/jquery-min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.app.js"></script>
<script src="assets/js/main.js"></script>

<script src="assets/plugins/morris/morris.min.js"></script>
<script src="assets/plugins/raphael/raphael-min.js"></script>
<script src="assets/js/dashborad1.js"></script>
<script type="text/javascript">
    function ss() {
        $('#aaa').click(function () {
            $.ajax({
                url: '/ifSession',
                type: 'get',
                success: function (success) {
                    if (success == 1) {
                        //alert(success);
                        window.location.href = "loginPage";
                    }
                }
            })
        });

    }

    window.onload = function () {
        //show_sub();
        ss();
    }

    /* function show_sub() {
         $.ajax({
             url: '/ifSession',
             type: 'get',
             success: function (success) {
                 if (success == 1) {
                     alert(success);
                     window.location.href="loginPage";
                 }
             }
         })
     }*/

    function returnpage(srcmgs) {
        $('#getPage').attr('src', srcmgs);

    }

    function exit() {
        $.ajax({
            url: '/exit',
            type: 'get',
            success: function (success) {
                if (success == 1) {
                    //alert(success);
                    window.location.href = "loginPage";
                }
            }
        })
    }
</script>
</body>


</html>