<!DOCTYPE html>
<html>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Inspire - Admin and Dashboard Template</title>

    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/fonts/line-icons.css">

    <link rel="stylesheet" href="assets/plugins/morris/morris.css">

    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
</head>

<body>
<div class="app header-default side-nav-dark" id="aaa">
    <div class="layout">

        <div class="header navbar">
            <div class="header-container">
                <div class="nav-logo">
                    <a href="index.html">
                        <b><img src="assets/img/logo.png" alt=""></b>
                        <span class="logo">
                                <img src="assets/img/logo-text.png" alt="">
                            </span>
                    </a>
                </div>
                <ul class="nav-left">
                    <li>
                        <a class="sidenav-fold-toggler" href="javascript:void(0);">
                            <i class="lni-menu"></i>
                        </a>
                        <a class="sidenav-expand-toggler" href="javascript:void(0);">
                            <i class="lni-menu"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav-right">

                    <li class="user-profile dropdown dropdown-animated scale-left" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                            <img class="profile-img img-fluid" src="assets/img/avatar/avatar.jpg" alt="" >
                        </a>
                        <ul class="dropdown-menu dropdown-md">
                            <li>
                                <ul class="list-media">
                                    <li class="list-item avatar-info">
                                        <div class="media-img">
                                            <img src="assets/img/avatar/avatar.jpg" alt="" >
                                        </div>
                                        <div class="info">
                                            <span class="title text-semibold" id="name"></span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a onclick="returnpage('user.html')" style="cursor:pointer;"> <span>我的信息</span></a>
                            </li>
                            <li>
                                <a onclick="returnpage('change.html')" style="cursor:pointer;"> <span>修改密码</span></a>
                            </li>
                            <li>
                                <a onclick="exit()"> <span>退出登录</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="side-nav expand-lg">
            <div class="side-nav-inner">
                <ul class="side-nav-menu">
                    <li class="side-nav-header">
                        <span>Navigation</span>
                    </li>
                    <li class="nav-item dropdown open">
                        <a href="#" class="dropdown-toggle">
                                <span class="icon-holder">
                                    <i class="lni-dashboard"></i>
                                </span>
                            <span class="title">首页</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li class="active">
                                <a href="index.html">公告</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-cloud"></i>
                                </span>
                            <span class="title">专家介绍</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('branch.html')" style="cursor:pointer;">专家列表</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-layers"></i>
                                </span>
                            <span class="title">预约挂号</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('DoctorAAA.html')" style="cursor:pointer;">挂号</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-package"></i>
                                </span>
                            <span class="title">支付订单</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('OrderList.html')" style="cursor:pointer;">立即支付</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-files"></i>
                                </span>
                            <span class="title">取消订单</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('quxiaoOrder_2.html')" style="cursor:pointer;">取消未支付订单</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                    <span class="icon-holder">
                                        <i class="lni-timer"></i>
                                    </span>
                            <span class="title">订单列表</span>
                            <span class="arrow">
                                        <i class="lni-chevron-right"></i>
                                    </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('OrderList.html')" style="cursor:pointer;">未支付订单</a>
                            </li>
                            <li>
                                <a onclick="returnpage('quxiaoOrder.html')" style="cursor:pointer;">取消已支付订单</a>
                            </li>
                            <li>
                                <a href="carousel.html">已支付订单</a>
                            </li>
                            <li>
                                <a href="dropdown.html">订单记录</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-control-panel"></i>
                                </span>
                            <span class="title">个人中心</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('user.html')" style="cursor:pointer;">我的信息</a>
                            </li>
                            <li>
                                <a onclick="returnpage('change.html')" style="cursor:pointer;">修改密码</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="#">
                                <span class="icon-holder">
                                    <i class="lni-pie-chart"></i>
                                </span>
                            <span class="title">系统管理</span>
                            <span class="arrow">
                                    <i class="lni-chevron-right"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu sub-down">
                            <li>
                                <a onclick="returnpage('doctorList01.html')" style="cursor:pointer;">医生管理</a>
                            </li>
                            <li>
                                <a onclick="returnpage('userList01.html')" style="cursor:pointer;">用户管理</a>
                            </li>
                            <li>
                                <a onclick="returnpage('orderList01.html')" style="cursor:pointer;">订单管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


        <iframe id="getPage" src="demo.html" style="position: relative;overflow: hidden;" frameborder="0"
                scrolling="auto" marginheight="0" marginwidth="0" height="1000" width="100%"></iframe>


    </div>
</div>

<div id="preloader">
    <div class="loader" id="loader-1"></div>
</div>


<script src="assets/js/jquery-min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.app.js"></script>
<script src="assets/js/main.js"></script>

<script src="assets/plugins/morris/morris.min.js"></script>
<script src="assets/plugins/raphael/raphael-min.js"></script>
<script src="assets/js/dashborad1.js"></script>
<script type="text/javascript">
    function ss() {
        $('#aaa').click(function () {
            $.ajax({
                url: '/ifSession',
                type: 'get',
                success: function (success) {
                    var user = JSON.stringify(success);
                    var datas = $.parseJSON(user);
                    var rel = JSON.stringify(datas.code);
                    if (rel == 1) {
                        window.location.href = "loginPage";
                    }else {
                        document.getElementById("name").innerHTML = "用户名："+datas.data.userLogin;
                    }
                }
            })
        });

    }

    window.onload = function () {
        ss();
    }

    function returnpage(srcmgs) {
        $('#getPage').attr('src', srcmgs);

    }

    function exit() {
        $.ajax({
            url: '/exit',
            type: 'get',
            success: function (success) {
                if (success == 1) {
                    //alert(success);
                    window.location.href = "loginPage";
                }
            }
        })
    }

    function name() {
        $.ajax({
            url: '/getUName',
            type: 'get',
            success: function (success) {
                if (success == 1) {
                    $('#name').val();
                }
            }
        })
    }
</script>
</body>


</html>