<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doctor.api.DoctorMapper" >
  <resultMap id="BaseResultMap" type="com.doctor.pojo.Doctor" >
    <id column="doctor_id" property="doctorId" jdbcType="INTEGER" />
    <result column="doctor_email" property="doctorEmail" jdbcType="VARCHAR" />
    <result column="doctor_account" property="doctorAccount" jdbcType="VARCHAR" />
    <result column="doctor_password" property="doctorPassword" jdbcType="VARCHAR" />
    <result column="doctor_name" property="doctorName" jdbcType="VARCHAR" />
    <result column="doctor_phone" property="doctorPhone" jdbcType="VARCHAR" />
    <result column="doctor_card_id" property="doctorCardId" jdbcType="VARCHAR" />
    <result column="denger" property="denger" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="doctor_title" property="doctorTitle" jdbcType="VARCHAR" />
    <result column="doctor_introduce" property="doctorIntroduce" jdbcType="VARCHAR" />
    <result column="item_parent_num" property="itemParentNum" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="creatBy" property="creatby" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="doctor_status" property="doctorStatus" jdbcType="INTEGER" />
    <result column="permissions_id" property="permissionsId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    doctor_id, doctor_email,doctor_account, doctor_password, doctor_name, doctor_phone, doctor_card_id,
    denger, age, address, doctor_title, doctor_introduce, item_parent_num, permissions_id,
    creat_time, creatBy, update_time, updateBy, doctor_status
  </sql>
  <select id="findByPhone" resultMap="BaseResultMap" parameterType="String">
    select <include refid="Base_Column_List"/>from doctor where doctor_phone = #{userPhone}
  </select>

  <select id="findByAccount" resultMap="BaseResultMap" parameterType="String">
    select <include refid="Base_Column_List"/>from doctor where doctor_account = #{userLogin}
  </select>

  <insert id="insertDoctor" >
    insert into doctor(doctor_email,doctor_account,doctor_password,doctor_phone,creat_time)
        values(#{doctorEmail},#{doctorAccount},#{doctorPassword},#{doctorPhone},#{creatTime})
  </insert>

  <select id="findByItemParentNum" resultMap="BaseResultMap" parameterType="String">
    select <include refid="Base_Column_List"/>from doctor where item_parent_num = #{itemParentNum}
  </select>
</mapper>